<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-footer *ngIf="showTabs">
    <ion-toolbar>
      <nav class="tab-row" aria-label="Primary navigation">
        <a class="tab-btn" routerLink="/home" routerLinkActive="selected">
          <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>
          <span>{{ 'TABS.PLANNER' | translate }}</span>
        </a>
        <a class="tab-btn" routerLink="/library" routerLinkActive="selected">
          <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
          <span>{{ 'TABS.LIBRARY' | translate }}</span>
        </a>
        <a class="tab-btn" routerLink="/templates" routerLinkActive="selected">
          <ion-icon name="copy-outline" aria-hidden="true"></ion-icon>
          <span>{{ 'TABS.TEMPLATES' | translate }}</span>
        </a>
        <a class="tab-btn" routerLink="/run" routerLinkActive="selected">
          <ion-icon name="timer-outline" aria-hidden="true"></ion-icon>
          <span>{{ 'TABS.RUN' | translate }}</span>
        </a>
        <!-- <a class="tab-btn" routerLink="/clients" routerLinkActive="selected">
          <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
          <span>Clients</span>
        </a> -->
        <a class="tab-btn" routerLink="/settings" routerLinkActive="selected">
          <ion-icon name="settings-outline" aria-hidden="true"></ion-icon>
          <span>{{ 'TABS.SETTINGS' | translate }}</span>
        </a>
      </nav>
    </ion-toolbar>
  </ion-footer>
</ion-app>
